# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized. This will conclude the exercise 3

Some of the popular languages that Data Scientists use are:
* Python
* R
* C++

Some of the commonly used libraries used by Data Scientists include:
* Scipy
* Matplotlib
* Pandas

| Data Science Tools     |
|------------------------|
| Jupyter Notebook       |
| RStudio                |
| Apache Zeppelin        |

Below are a few examples of evaluating arithmetic expressions in Python.

1. **Addition**: `5 + 3 = 8`
2. **Subtraction**: `10 - 4 = 6`
3. **Multiplication**: `7 * 2 = 14`
4. **Division**: `15 / 3 = 5`
5. **Exponentiation**: `2 ** 3 = 8`
6. **Modulus**: `10 % 3 = 1`

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

**Objectives:**

- List popular languages for Data Science.
- Identify open-source tools used in Data Science.
- Understand the basics of Jupyter Notebooks.
- Convert units in Python using arithmetic expressions.
- Create Markdown cells with different formatting styles.

## Author
Soroush Avval